@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Merriweather', serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    font-family: 'Merriweather', serif;
    color: #434343;
}
img{
    object-fit: cover;
}
body{
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header{
    max-width: 1314px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:57px;
    position: relative;

}
header .navbar-container{
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
img{
    width: 360px;
    
}
header .navbar-container .navbar .hamburger{
    display: none;
}

header .navbar-container .navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 45px 0 27px 0;
}
header .navbar-container .navbar .menu .nav{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header .navbar-container .navbar .menu  .close{
    display: none;
}
header .navbar-container .navbar .nav li {
    margin-left: 10px;
}
header .navbar-container .navbar .nav li a{
    font-size: 12.59px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}
header .navbar-container .navbar .login{

}
header .navbar-container .navbar .member{
    text-decoration: none;
    font-size: 12.59px;
    font-family: 'Merriweather', serif;
    margin-top: 4px;
    
}
header .navbar-container .navbar .register{
    width: 130px;
    font-size: 12.59px;
    font-family: 'Merriweather', serif;
    margin-top: 4px;
}





@media screen and (min-width:900px) and (max-width:1024px) {
    header{
        max-width:1024px;
    }
    header .navbar-container{
        max-width: 700px;
    }
    header .navbar-container img{
        max-width: 300px;
    }
    header .navbar-container .navbar .menu .nav li a{
        font-size: 9px;
        margin-left: 1px;
    }
    header .navbar-container .navbar .login{
        margin-left: 10px;
    }
    header .navbar-container .navbar .login  a{
        font-size: 9px;
    }
}
@media screen and (min-width:600px) and (max-width:899px) {
    header{
        max-width:899px;
        width: 100%;
    }
    header .navbar-container{
        max-width: 899px;
        min-width: 602px;
    }
    header .navbar-container img{
        max-width: 300px;
    }
    header .navbar-container .navbar .menu .nav li a{
        font-size: 9px;
        
    }
    header .navbar-container .navbar .login  a{
        font-size: 9x;
    }
    header .navbar-container .navbar{
        justify-content: flex-end;
        width: 100%;

    }
    header .navbar-container .navbar .hamburger{
        display: block;
        cursor: pointer;
        position: absolute;
        left: 5%;
    }
    
    header .navbar-container .navbar .hamburger:hover{
        color: #7E817E;
    }
    header .navbar-container .navbar .menu {
        max-width: 899px;
        width: 100%;
        min-height: 100vh;
        top: 0%;
        left: 0%;
        transform: translateX(-100%);
        position: fixed;
        background-color: #1EEE41;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 2s all;
        z-index: 1000000000000000;
    }
    
    header .navbar-container .navbar .menu.active {
        transform: translateX(0);
    }
    header .navbar-container .navbar .menu .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .navbar-container .navbar .menu  .close{
        position: absolute;
        top: 2%;
        right: 5%;
        font-size: 50px;
        color: #fbfbfb;
        display: block;
        cursor: pointer;
        transition: 1s all;
    }
    header .navbar-container .navbar .menu  .close:hover{
        color: #0AA424;
    }
    header .navbar-container .navbar .menu .nav li{
        margin: 20px 0;
    }
    header .navbar-container .navbar .menu .nav li a{
        font-size: 25px;
        color: #fbfbfb;
        transition: 1s all;
    }
    header .navbar-container .navbar .menu .nav a:hover{
        color: #0AA424;
    }
    header .navbar-container .navbar .member{
        margin-right: 1px;
        
    }
    header .navbar-container .navbar .member:hover{
        color: #7E817E;
        
    }
    header .navbar-container .navbar .register{
        width: 60px;
        font-family: 'Merriweather', serif;
        margin-top: 4px;
        margin-right: 10px;
    }
    header .navbar-container .navbar .register:hover{
        color: #7E817E;
    }
}
@media screen and (min-width:200px) and (max-width:599px) {
    header{
        max-width: 600px;
        position: relative;
        width: 100%;
        
    }
    header .navbar-container{
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        /* min-width: 100px; */
    }
    header .navbar-container img{
        width: 150px;
    }
    header .navbar-container .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        position: relative;

    }
    header .navbar-container .navbar .hamburger{
        display: block;
        cursor: pointer;
        /* position: absolute; */
        /* left: 20%; */
    }
    
    header .navbar-container .navbar .hamburger:hover{
        color: #7E817E;
    }
    header .navbar-container .navbar .menu {
        max-width: 600px;
        width: 100%;
        min-height: 100vh;
        top: 0%;
        left: 0%;
        transform: translateX(-100%);
        position: fixed;
        background-color: #1EEE41;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 2s all;
        z-index: 11000000;
    }
    
    header .navbar-container .navbar .menu.active {
        transform: translateX(0);
    }
    header .navbar-container .navbar .menu .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .navbar-container .navbar .menu  .close{
        position: absolute;
        top: 2%;
        right: 5%;
        font-size: 50px;
        color: #fbfbfb;
        display: block;
        cursor: pointer;
        transition: 1s all;
    }
    header .navbar-container .navbar .menu  .close:hover{
        color: #0AA424;
    }
    header .navbar-container .navbar .menu .nav li{
        margin: 20px 0;
    }
    header .navbar-container .navbar .menu .nav a{
        font-size: 25px;
        color: #fbfbfb;
        transition: 1s all;
    }
    header .navbar-container .navbar .menu .nav a:hover{
        color: #0AA424;
    }
    header .navbar-container .navbar .login{
        /* margin-left: 25px; */
    }
    header .navbar-container .navbar .member{
        margin-right: 1px;
        
    }
    header .navbar-container .navbar .member:hover{
        color: #7E817E;

    }
    header .navbar-container .navbar .register{
        width: 60px;
        font-family: 'Merriweather', serif;
        margin-top: 4px;
        margin-right: 10px;
    }
    header .navbar-container .navbar .register:hover{
        color: #7E817E;
    }
}


/* content */

header .content {
    max-width: 1312px;
    width: 100%;
    height: 873px;
    display: flex;
    flex-direction: column;
    position: relative;
}
header .content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header .top-content {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10.4px 0;
    position: absolute;
    top: 0;
    left: 0;
}
header .top-content h1 {
    color: #ffffff;
    font-size: 13.67px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
header .content .center-content {
    position: absolute;
    width: 190px;
    top: 115px;
    right: 156px;
}
header .center-content h1{
    font-size: 13.67px;
    margin-bottom: 18px;
}
header .center-content p{
    font-size: 12.5px;
}
@media screen and (min-width:900px) and (max-width:1024px) {
    header .content {
        max-width: 1024px;
        width: 100%;
    }
    header .top-content h1{
        font-size: 10px;
    }
}
@media screen and (min-width:200px) and (max-width:899px) {
    header .content {
        max-width: 899px;
        width: 100%;
    }   
    header .top-content h1{
        font-size: 8px;
        text-align: center;
    }
    header .content .center-content{
        position: absolute;
        width: 190px;
        top: 20%;
        left: 20%;
    }
}

/* oil */
.oil{
    max-width: 1314px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 88px ;
    padding-bottom: 232.4px;
    
}
.oil .top-oil{
    width: 100%;
}
.oil .top-oil h1{
    font-size: 25.68px;
    font-weight: normal;
    margin-left: 348px;
    margin-bottom: 33px;
}
.oil .content-oil {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.oil .content-oil  .first-part{
    flex: 1;    
}
.oil .content-oil  .first-part .part{
    border-right: 3px solid black;
    padding-right: 20px;
    padding-bottom: 77.4px;
}
.oil .content-oil  .first-part .part:last-child{
    padding-bottom: 21px;
}
.oil .content-oil  .first-part .part h1{
    font-size: 12.5px;
    text-align: right;
    margin-bottom: 16.5px;
}
.oil .content-oil  .first-part .part p{
    font-size: 12.5px;
    text-align: right;
}
.oil .content-oil  .second-part{
    flex: 2;
    padding-left: 55px;    
    position: relative;
}
.oil .content-oil  .second-part .second-img{
    width: 627px;
    height: 418px;
    object-fit: cover;
}
.oil .content-oil  .second-part .line2{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -1px;
}
.oil .content-oil  .third-part{
    flex: 1;
    padding-left: 14px; 
    position: relative;   
}
.oil .content-oil  .third-part h1{
    font-size: 30.24px;
    margin-top: 38px;
    margin-left: 15px;
    font-weight: normal;
}
.oil .content-oil  .third-part h2{
    font-size: 30.24px;
    font-weight: normal;
    margin-left: 15px;
    margin-bottom: 40px;
}

.oil .content-oil  .third-part a{
    text-align: center;
    font-size: 14.19px;
    background-color: #000000;
    color: #eeeeee;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 46px;
    padding: 12px 59px;
}
.oil .content-oil  .third-part .third-img{
    width: 275.4px;
    height: 195px;
    object-fit: cover;
    margin-top: 49px;
}
.oil .content-oil  .third-part .line3{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (min-width:900px) and (max-width:1024px){
    .oil{
        max-width: 1000px;
        width: 100%;
        padding: 0 10px;
    }
    .oil .top-oil h1{
        margin-top: 25px;
    }
    .oil .content-oil  .first-part .part{
        padding-right: 10px;
        padding-bottom: 77.4px;
        padding-left: 10px;
    }
    .oil .content-oil  .first-part .part h1,
    .oil .content-oil  .first-part .part p
    {
        font-size: 9px;
    }
    .oil .content-oil  .second-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;

    }
    .oil .content-oil  .second-part .second-img{
        width: 420px;
        height: 329px;
        object-fit: cover;
        
    }
    .oil .content-oil  .second-part .line2{
        /* display: none; */
    }
    .oil .content-oil  .third-part{
        padding: 0px 5px;
        flex: 1;   
    }
    .oil .content-oil  .third-part h1{
        margin-left: 10px;
        font-size: 20px;
        margin-top: 20px;
    }
    .oil .content-oil  .third-part h2{
        margin-left: 10px;
        font-size: 20px;
    }
    .oil .content-oil  .third-part a{
        padding: 10px 35px;
        font-size: 12px;
        margin-left: 10px;
    }
    .oil .content-oil  .third-part .third-img{
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
    .oil .content-oil  .third-part .line3{
            /* display: none; */
    }
}

@media screen and (min-width:600px) and (max-width:899px){
    .oil{
        max-width: 899px;
        width: 100%;
        padding: 0 10px;
    }
    .oil .top-oil h1{
        margin-top: 25px;
        text-align: center;
        font-size: 25.68px;
        font-weight: normal;
        margin-left: 0px;
        margin-bottom: 33px;
    }
    .oil .content-oil {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .oil .content-oil .first-part {
        background-color: #ffffff;
        box-shadow: 10px 10px 10px #eeeeee;
    }
     .oil .content-oil  .first-part .part{
        padding-right: 5px;
        padding-bottom: 20px;
        padding-left: 5px;
    }
    .oil .content-oil  .first-part .part h1,
    .oil .content-oil  .first-part .part p
    {
        font-size: 12px;
    }
    .oil .content-oil  .second-part{
        padding: 20px 10px;
    }   
    .oil .content-oil  .second-part .second-img{
        width: 100%;
        height: 100%;
        object-fit: cover;   
    } 
    .oil .content-oil  .second-part .line2{
        display: none;
    }
    /* third-part */
    .oil .content-oil  .third-part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;

    }
    .oil .content-oil  .third-part h1{
        margin-left: 0px;
        font-size: 20px;
        margin-top: 0px;
    }
    .oil .content-oil  .third-part h2{
        margin-left: 0px;
        font-size: 20px;
        margin-bottom: 10px
    }
    .oil .content-oil  .third-part a{
        padding: 10px 35px;
        font-size: 12px;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .oil .content-oil  .third-part .third-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: -1px -1px 5px gray;
        margin-top: 20px;
    }
    .oil .content-oil  .third-part .line3{
        display: none;
    }
    
}

@media screen and (min-width:200px) and (max-width:599px){
    .oil{
        max-width: 599px;
        width: 100%;
        padding: 0 10px;
        justify-content: center;
        align-items: center;
    }
    .oil .top-oil h1{
        margin-top: 25px;
        text-align: center;
        font-size: 25.68px;
        font-weight: normal;
        margin-left: 0px;
        margin-bottom: 33px;
    }
    .oil .content-oil {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .oil .content-oil .first-part {
        background-color: #ffffff;
        box-shadow: 10px 10px 10px #eeeeee;
    }
     .oil .content-oil  .first-part .part{
        padding-right: 5px;
        padding-bottom: 20px;
        padding-left: 5px;
    }
    .oil .content-oil  .first-part .part h1,
    .oil .content-oil  .first-part .part p
    {
        font-size: 12px;
    }
    .oil .content-oil  .second-part{
        padding: 20px 10px;
    }   
    .oil .content-oil  .second-part .second-img{
        width: 100%;
        height: 100%;
        object-fit: cover;   
    } 
    .oil .content-oil  .second-part .line2{
        display: none;
    }
    /* third-part */
    .oil .content-oil  .third-part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;

    }
    .oil .content-oil  .third-part h1{
        margin-left: 0px;
        font-size: 20px;
        margin-top: 0px;
    }
    .oil .content-oil  .third-part h2{
        margin-left: 0px;
        font-size: 20px;
        margin-bottom: 10px
    }
    .oil .content-oil  .third-part a{
        padding: 10px 35px;
        font-size: 12px;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .oil .content-oil  .third-part .third-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: -1px -1px 5px gray;
        margin-top: 20px;
    }
    .oil .content-oil  .third-part .line3{
        display: none;
    }
    
}


/* handcrafted-line */

.handcrafted-line{
    max-width: 1314px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
}
.handcrafted-line .first-part{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1;
    padding-right: 61.5px;
    
}
.handcrafted-line .first-part h1,
.handcrafted-line .first-part p{
    font-size: 12.5px;
    text-align: right;
    color: #2a2a2a;
}
.handcrafted-line .first-part p{
    margin-top: 19.4px;
    width: 195.5px;

}
.handcrafted-line .first-part img{
    width: 151px;
    height: 153px;
    margin-top: 41.3px;
    object-fit: cover;
}
.handcrafted-line .second-part{
    flex: 1;
}
.handcrafted-line .second-part img{
    width: 489px;
    height: 738px;
    object-fit: cover;
}
.handcrafted-line .third-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    padding-left: 48px;
    margin-bottom: 340px;
}
.handcrafted-line .third-part h1{
    font-size: 25.69px;
    margin-bottom: 58.9px;
}
.handcrafted-line .third-part p{
    font-size: 18.67px;
    line-height: 38px;
    width: 100%;
}
.line-content{
    max-width: 100%;
    width: 100%;
    padding: 105px 0;
    border-bottom: 4px solid #000000;
    margin-bottom: 60px;
}
.line-content .line4{
    width: 875px;
    height: 16px;
}
/* responsive */
@media screen and (min-width:900px) and (max-width:1024px){
    .handcrafted-line{
        max-width: 1024px;
        width: 100%; 
        padding: 0% 2%;
        margin-top: 200px;
    } 
    .handcrafted-line .first-part{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        flex: 1;
        padding-right: 5%;
    }
    .handcrafted-line .first-part h1,
    .handcrafted-line .first-part p{
        font-size: 10px;
        text-align: right;
        color: #2a2a2a;
    }
    .handcrafted-line .first-part p{
        margin-top: 19.4px;
        max-width: 180px;
    }
    .handcrafted-line .second-part img{
        max-width: 350px;
        height: 738px;
        object-fit: cover;
    }
    .handcrafted-line .third-part{
        padding-left: 5%;
        margin-bottom: 400px;
    }
    .handcrafted-line .third-part h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .handcrafted-line .third-part p{
        font-size: 15px;
        line-height: 30px;
        width: 100%;
    }
    .line-content{
        max-width: 1000px;
        width: 100%;
        padding: 50px 10px;
        margin-bottom: 60px;
        border-bottom: 4px solid black;        

    }
    .line4{
        width: 875px;
        height: 16px;
    }

}
@media screen and (min-width:600px) and (max-width:899px){
    .handcrafted-line{
        max-width: 899px;
        width: 100%; 
        padding: 0% 2%;
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .handcrafted-line .first-part{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-right: 5%;
    }
    .handcrafted-line .first-part h1,
    .handcrafted-line .first-part p{
        font-size: 20px;
        text-align: center;
        color: #2a2a2a;
        margin-top: 20px;
    }
    .handcrafted-line .first-part p{
        margin-top: 19.4px;
        max-width: 850px;
        width: 100%;
    }
    .handcrafted-line .first-part img{
        max-width: 50%;
        width: 100%;
        height: 100%;
        margin-top: 41.3px;
        object-fit: cover;
    }
    .handcrafted-line .second-part img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .handcrafted-line .third-part{
        padding-left: 0;
        margin-bottom: 50px;
        align-items: center;
        
    }
    .handcrafted-line .third-part h1{
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    .handcrafted-line .third-part p{
        font-size: 20px;
        line-height: 30px;
        width: 100%;
        text-align: center;
    }
    .line-content{
        display: none;
    }
    .line4{
        display: none;
    } 
}
@media screen and (min-width:200px) and (max-width:599px){
    .handcrafted-line{
        max-width: 899px;
        width: 100%; 
        padding: 0% 2%;
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .handcrafted-line .first-part{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-right: 5%;
    }
    .handcrafted-line .first-part h1,
    .handcrafted-line .first-part p{
        font-size: 20px;
        text-align: center;
        color: #2a2a2a;
        margin-top: 20px;
    }
    .handcrafted-line .first-part p{
        margin-top: 19.4px;
        max-width: 850px;
        width: 100%;
    }
    .handcrafted-line .first-part img{
        max-width: 50%;
        width: 100%;
        height: 100%;
        margin-top: 41.3px;
        object-fit: cover;
    }
    .handcrafted-line .second-part img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .handcrafted-line .third-part{
        padding-left: 0;
        margin-bottom: 50px;
        align-items: center;
        
    }
    .handcrafted-line .third-part h1{
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    .handcrafted-line .third-part p{
        font-size: 20px;
        line-height: 30px;
        width: 100%;
        text-align: center;
    }
    .line-content{
        display: none;
    }
    .line4{
        display: none;
    } 
}

/* boutique */

.boutique{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1314px;
    width: 100%;
}
.boutique h1{
    font-size: 35.13px;
    color: #353333;
    margin-bottom: 89px;
}
.boutique .boutique-content{
    display: flex;
    max-width: 1084px;
    width: 100%;
    gap: 20px;

}
.boutique .boutique-content .boutique-part{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.boutique .boutique-content .boutique-part .part-content{
    display: flex;
    flex-direction: column;
    padding-left: 34.5px;
}
.boutique .boutique-content .boutique-part img{
    max-width: 353px;
    width: 100%;
    max-height: 346px;
    object-fit: cover;
}
.boutique .boutique-content .boutique-part .part-content  h2{
    
    margin-top: 13px;
    font-size: 26.42px;
    font-weight: bold;
}
.boutique .boutique-content .boutique-part .part-content  h1{
    font-size: 12.5px;
    margin-bottom: 0;
}
.boutique .boutique-content .boutique-part .part-content  p{
    margin-top: 22px;
    padding: 0;
    font-size: 12.5px;
    width: 100%;
}
.boutique .boutique-content .boutique-part .part-content  .buttons{
    padding-top: 21px;
    padding-bottom: 10px;
    height: 150px;
}
.boutique .boutique-content .boutique-part .part-content  .buttons .btn-add{
    font-size: 14.19px;
    padding: 13px 33.3px;
    border: 5px solid black;
    font-weight: normal;
    color: #eeeeee;
    background-color: #000000;
    font-weight: normal;
    margin-right: 6px;   
    font-family: 'Merriweather', serif;
}
.boutique .boutique-content .boutique-part .part-content  .buttons .btn-num{
    font-size: 26.42px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: white;
    border: 2px solid black;
    font-weight: normal;
    font-family: 'Merriweather', serif;
}

@media screen and (min-width:900px) and (max-width:1024px){
    .boutique{
        max-width: 1024px;
        width: 100%;
    }
    .boutique h1{
        font-size: 35.13px;
        color: #353333;
        margin-bottom: 89px;
    }
    .boutique .boutique-content{
        display: flex;
        max-width: 1000px;
        width: 100%;
        gap: 10px;
        padding: 0 1%;
    }
    .boutique .boutique-content .boutique-part img{
        max-width: 300px;
        max-height: 250px;
    }
    .boutique .boutique-content .boutique-part .part-content h2{
        margin-top: 5%;
        font-size: 20px;
    }
    .boutique .boutique-content .boutique-part .part-content  h1{
        font-size: 10px;
    }
    .boutique .boutique-content .boutique-part .part-content  p{
        margin-top: 5%;
        font-size: 10px;
    }
    .boutique .boutique-content .boutique-part  .part-content  .buttons{
        min-height: 100px;
    }
    .boutique .boutique-content .boutique-part .part-content  .buttons .btn-add{
        font-size: 10px;
        padding: 3% 10%;
        border: 5px solid black;
        font-weight: normal;
        color: #eeeeee;
        background-color: #000000;
        font-weight: normal;
        margin-right: 6px;   
        font-family: 'Merriweather', serif;
    }
    .boutique .boutique-content .boutique-part .part-content  .buttons .btn-num{
        font-size: 15px;
        padding-top: 2%;
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 4%;
    }
}
@media screen and (min-width:600px) and (max-width:899px){
    .boutique{
        max-width: 899px;
        width: 100%;
    }
    .boutique h1{
        font-size: 35px;
        color: #353333;
        margin: 10% 0;
    }
    .boutique .boutique-content{
        display: flex;
        max-width: 899px;
        gap: 1%;
        padding: 0 5%;
    }
    .boutique .boutique-content .boutique-part img{
        max-width: 250px;
        max-height: 220px;
    }
    .boutique .boutique-content .boutique-part .part-content{
        padding-left: 7%;
    }
    .boutique .boutique-content .boutique-part .part-content h2{
        margin-top: 5%;
        font-size: 20px;
    }
    .boutique .boutique-content .boutique-part .part-content  h1{
        font-size: 10px;
    }
    .boutique .boutique-content .boutique-part .part-content  p{
        margin-top: 5%;
        font-size: 10px;
    }
    .boutique .boutique-content .boutique-part  .part-content  .buttons{
        min-height: 100px;
    }
    .boutique .boutique-content .boutique-part .part-content  .buttons .btn-add{
        font-size: 10px;
        padding: 3% 10%;
        border: 5px solid black;
        font-weight: normal;
        color: #eeeeee;
        background-color: #000000;
        font-weight: normal;
        margin-right: 1%;   
        font-family: 'Merriweather', serif;
    }
    .boutique .boutique-content .boutique-part .part-content  .buttons .btn-num{
        font-size: 15px;
        padding-top: 2%;
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 4%;
    }
}
@media screen and (min-width:200px) and (max-width:599px){
    .boutique{
        max-width: 599px;
        width: 100%;
    }
    .boutique h1{
        font-size: 20px;
        margin: 10% 0;
    }
    .boutique .boutique-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 599px;
        padding: 0 5%;
    }
    .boutique .boutique-content .boutique-part{
        border-bottom: 0.5px solid lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boutique .boutique-content .boutique-part img{
        max-width: 100%;
        max-height: 220px;
    }
    .boutique .boutique-content .boutique-part .part-content{
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boutique .boutique-content .boutique-part .part-content h2{
        margin-top: 5%;
        font-size: 20px;
    }
    .boutique .boutique-content .boutique-part .part-content  h1{
        font-size: 10px;
    }
    .boutique .boutique-content .boutique-part .part-content  p{
        margin-top: 5%;
        font-size: 10px;
        text-align: center;
    }
    .boutique .boutique-content .boutique-part  .part-content  .buttons{
        min-height: 100px;
        max-width: 599px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .boutique .boutique-content .boutique-part .part-content  .buttons .btn-add{
        font-size: 10px;
        padding: 3% 10%;
        border: 5px solid black;
        font-weight: normal;
        color: #eeeeee;
        background-color: #000000;
        font-weight: normal;
        margin-right: 1%;   
        font-family: 'Merriweather', serif;

    }
    .boutique .boutique-content .boutique-part .part-content  .buttons .btn-num{
        font-size: 15px;
        padding-top: 2%;
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 4%;
    }
}

/* release */

.release{
    max-width: 1107px;
    width: 100%;
    min-height: 740px;
    background: url('images/release.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.release h1{
    padding: 20px 31px;
    background-color: #000000;
    color: #ffff;
    font-size: 25.68px;
    font-weight: normal;
}

.line-content2{
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    padding: 167px;
    position: relative;
}
.line-content2 .line5{
    max-width: 858px;
    width: 100%;
    min-height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (min-width:200px) and (max-width:1000px){
    .release{
        max-width: 900px;
        width: 100%;
        min-height: 500px;
        background: url('images/release.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2%;
    }
    .release h1{
        padding: 3% 8%;
        background-color: #000000;
        color: #ffff;
        font-size: 15px;
        font-weight: normal;
    }
    
}

@media screen and (min-width:200px) and (max-width:800px){
    .line-content2{
        display: none;
        max-width: 1000px;
        width: 100%;
        flex-direction: row;
        padding-top: 20%;
        position: relative;
        margin-bottom: 50px;
    }
    .line-content2 .line5{
        max-width: 500px;
        width: 100%;
        min-height: 16px;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

/* new */

.new{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 167px;
    padding-top: 146px;
    padding-bottom: 186px;
}
.new .new-container{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.new .new-container .content{
    flex: 1;
    padding-right: 41px;
}
.new .new-container .content h1{
    font-size: 25.68px;
    font-weight: bolder;
    margin-bottom: 73px;

}
.new .new-container .content h2{
    font-size: 25.68px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 31px;
}
.new .new-container .content p{
    font-size: 18.67px;
    max-width: 303px;
    width: 100%;
}

.new .new-container .new1{
    flex: 1;
    max-width: 447px;
    width: 100%;
    margin-right: 17px;
}
.new .new-container .new2{
    flex: 1;
    max-width: 447px;
    width: 100%;
}


@media screen and (min-width:900px) and (max-width:1024px){
    .new{
        max-width: 1024px;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .new .new-container{
        max-width: 1024px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .new .new-container .content{
        flex: 1;
        padding: 0 5%;
    }
    .new .new-container .content h1{
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 73px;

    }
    .new .new-container .content h2{
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 31px;
    }
    .new .new-container .content p{
        font-size: 15px;
        max-width: 303px;
        width: 100%;
    }

    .new .new-container .new1{
        flex: 1;
        max-width: 300px;
        width: 100%;
        margin-right: 17px;
    }
    .new .new-container .new2{
        flex: 1;
        max-width: 300px;
        width: 100%;
    }

}

@media screen and (min-width:200px) and (max-width:899px){
    .new{
        max-width: 899px;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .new .new-container{
        max-width: 899px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .new .new-container .content{
        flex: 1;
        padding: 0 5%;
    }
    .new .new-container .content h1{
        font-size: 35px;
        font-weight: bolder;
        margin-bottom: 73px;
        text-align: center;
    }
    .new .new-container .content h2{
        font-size: 25px;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 31px;
        text-align: center;
    }
    .new .new-container .content p{
        font-size: 20px;
        max-width: 95%;
        width: 100%;
        text-align: center;
    }

    .new .new-container .new1{
        flex: 1;
        max-width: 95%;
        width: 100%;
        margin: 10%;
    }
    .new .new-container .new2{
        flex: 1;
        max-width: 95%;
        width: 100%;

    }
}


/* natural */
.natural{
    max-width: 1314px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;  
}
.natural .natural-top{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-bottom: 67px;
}
.natural .natural-top h1{
    text-align: center;
    font-size: 13.67px;
    color: #eeeeee;
    padding: 15px 0;
    font-weight: normal;
}
.natural h1{
    max-width: 1123px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 26px;
    font-size: 25.68px;
    font-weight: normal;
}
.natural .natural-content{
    max-width: 1123px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.natural .natural-content .natural-part{
    display: flex;  
}

.natural .natural-content .natural-part .img1 {
    max-width: 100%;
    width: 100%;
    margin-right: 22px;
}
.natural .natural-content .natural-part .img1 .natural1{
    min-width: 100%;
    width: 489px;
    height: 685px;
    object-fit: cover;
}
.natural .natural-content .natural-part .img2 {
    max-width: 100%;
    width: 225px;
}
.natural .natural-content .natural-part .img2 .natural2{
    /* max-width: 100%; */
    max-width: 225px;
    min-height: 338px;
}
.natural .natural-content .natural-part .img2 .natural3{
    max-width: 225px;
    min-height: 310px;
    margin-top: 29px;
}
.natural .natural-content .natural-second-part .natural-part-content{
    padding-top: 67px;
    padding-left: 67px;
    padding-right: 53px;
}
.natural .natural-content .natural-second-part .natural-part-content  h2{
    font-size: 26.42px;
}
.natural .natural-content .natural-second-part .natural-part-content h1{
    font-size: 12.5px;
}
.natural .natural-content .natural-second-part .natural-part-content p{
    font-size: 12.5px;
}

.natural .natural-content .natural-second-part .natural-part-content .buttons{
    padding-top: 21px;
    padding-bottom: 10px;
    height: 150px;
    
}
.natural .natural-content .natural-second-part .natural-part-content .buttons .btn-add {
    font-size: 14.19px;
    padding: 13px 33.3px;
    border: 5px solid black;
    font-weight: normal;
    color: #eeeeee;
    background-color: #000000;
    font-weight: normal;
    margin-right: 6px;   
    font-family: 'Merriweather', serif;
}    
.natural .natural-content .natural-second-part .natural-part-content .buttons .btn-num{
    font-size: 26.42px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: white;
    border: 2px solid black;
    font-weight: normal;
    font-family: 'Merriweather', serif;
}

@media screen and (min-width:900px) and (max-width:1024px){
    .natural{
        max-width: 1024px;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        display: flex;
        flex-direction: column;   
    }
    .natural .natural-top{
        max-width: 1024px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        margin-bottom: 10%;
    }
    .natural .natural-top h1{
        width: 100%;
        text-align: center;
        font-size: 9px;
        color: #eeeeee;
        padding: 2% 0;
        font-weight: normal;
    }
    .natural h1{
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 5%;
        padding-left: 1%;
        font-size: 20px;
        font-weight: normal;
    }
    .natural .natural-content{
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 0 1%;
    
    }
    .natural .natural-content .natural-part  {
        flex: 3;
    }
    .natural .natural-content .natural-part .img1 {
        max-width: 100%;
        width: 100%;
        margin-right: 2%;
    }
    .natural .natural-content .natural-part .img1 .natural1{
        min-width: 200px;
        width: 100%;
        height: 447px;
        object-fit: cover;
    }
    .natural .natural-content .natural-part .img2 {
        max-width: 150px;
        width: 100%;
    }
    .natural .natural-content .natural-part .img2 .natural2{
        /* max-width: 100%; */
        max-width: 150px;
        min-height: 200px;
    }
    .natural .natural-content .natural-part .img2 .natural3{
        max-width: 150px;
        min-height: 200px;
        margin-top: 5%;
    }

    .natural .natural-content .natural-second-part {
        max-width: 100%;
        width: 100%;
        flex: 1;
    }
    .natural .natural-content .natural-second-part .natural-part-content{
        padding-top: 5%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .natural .natural-content .natural-second-part .natural-part-content  h2{
        font-size: 20px;
    }
    .natural .natural-content .natural-second-part .natural-part-content h1{
        font-size: 9px;
    }
    .natural .natural-content .natural-second-part .natural-part-content p{
        font-size: 9px;
    }
    
    .natural .natural-content .natural-second-part .natural-part-content .buttons{
        padding-top: 2%;
        padding-bottom: 1%;
        height: 150px;
        
    }
    .natural .natural-content .natural-second-part .natural-part-content .buttons .btn-add {
        font-size: 10px;
        padding: 2% 4%;
        border: 1px solid black;
        font-weight: normal;
        color: #eeeeee;
        background-color: #000000;
        font-weight: normal;
        margin-right: 1%;   
        font-family: 'Merriweather', serif;
    }    
    .natural .natural-content .natural-second-part .natural-part-content .buttons .btn-num{
        font-size: 10px;
        padding-top: 1.5%;
        padding-bottom: 1.7%;
        padding-left: 11px;
        padding-right: 11px;
        background-color: white;
        border: 2px solid black;
        font-weight: normal;
        font-family: 'Merriweather', serif;
    }
    
}

@media screen and (min-width:200px) and (max-width:899px){
    .natural{
        max-width: 899px;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        display: flex;
        flex-direction: column;   
    }
    .natural .natural-top{
        max-width: 899px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        margin-bottom: 10%;
    }
    .natural .natural-top h1{
        width: 100%;
        text-align: center;
        font-size: 9px;
        color: #eeeeee;
        padding: 2% 0;
        font-weight: normal;
    }
    .natural h1{
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 5%;
        padding-left: 1%;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
    }
    .natural .natural-content{
        max-width: 899px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 1%;
    
    }
    .natural .natural-content .natural-part  {
        flex: 3;
        display: flex;
        flex-direction: column;
    }
    .natural .natural-content .natural-part .img1 {
        max-width: 100%;
        width: 100%;
        margin-right: 2%;
    }
    .natural .natural-content .natural-part .img1 .natural1{
        max-width: 100%;
        width: 100%;
        height: 447px;
        object-fit: cover;
        padding: 1%;
    }
    .natural .natural-content .natural-part .img2 {
        max-width: 100%;
        width: 100%;
        padding: 1%;
    }
    .natural .natural-content .natural-part .img2 .natural2{
        /* max-width: 100%; */
        max-width: 100%;
        width: 100%;
        min-height: 200px;
    }
    .natural .natural-content .natural-part .img2 .natural3{
        max-width: 100%;
        width: 100%;
        min-height: 200px;
        margin-top: 5%;
    }

    .natural .natural-content .natural-second-part {
        max-width: 100%;
        width: 100%;
        flex: 1;
    }
    .natural .natural-content .natural-second-part .natural-part-content{
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1%;
        background-color: #eeeeee;
    }
    .natural .natural-content .natural-second-part .natural-part-content  h2{
        font-size: 20px;
        text-align: center;
    }
    .natural .natural-content .natural-second-part .natural-part-content h1{
        font-size: 9px;
        text-align: center;
    }
    .natural .natural-content .natural-second-part .natural-part-content p{
        font-size: 9px;
        text-align: center;
    }
    
    .natural .natural-content .natural-second-part .natural-part-content .buttons{
        padding-top: 2%;
        padding-bottom: 1%;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .natural .natural-content .natural-second-part .natural-part-content .buttons .btn-add {
        font-size: 10px;
        padding: 2% 4%;
        border: 1px solid black;
        font-weight: normal;
        color: #eeeeee;
        background-color: #000000;
        font-weight: normal;
        margin-right: 1%;   
        font-family: 'Merriweather', serif;
        text-align: center;
    }    
    .natural .natural-content .natural-second-part .natural-part-content .buttons .btn-num{
        font-size: 10px;
        padding-top: 1.5%;
        padding-bottom: 1.7%;
        padding-left: 11px;
        padding-right: 11px;
        background-color: white;
        border: 2px solid black;
        font-weight: normal;
        font-family: 'Merriweather', serif;
        text-align: center;
    }
}


/* collection */

.collection{
    max-width: 1314px;
    width: 100%;
    background: url('images/collection.jpg');
    background-size: cover;
    background-position: center center;
    /* padding:  124px 84px 81px 84px; */
    display: flex;
    flex-direction: row;
    min-height: 875px;
}
.collection .collection-one{
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding:  124px 0px 81px 84px;
}

.collection .collection-one .one-content{
    /* max-width: 498px; */
    width: 100%;
    padding-right: 0px;

}
.collection .collection-one .one-content h1{
    font-size: 25.68px;
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 45px;
}
.collection .collection-one .one-content form{
    width: 100%;
    max-width: 100%;
    display: flex;
}
.collection .collection-one .one-content form .email{
    font-size: 12.5px;
    max-width: 309px;
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    border: none;
    color: #000000;
    margin: 0;
}
.collection .collection-one .one-content form .sign{
    font-size: 16.67px;
    background-color: #000000;
    color: #ffffff;
    padding: 13px 0;
    max-width: 185px;
    width: 100%;
    border: none;
    margin: 0;
    
}
.collection .collection-one .one-content h2{
    font-size: 12.5px;
    margin-top: 14px;
    
}
.collection .collection-one .one-content p{
    font-size: 12.5px;
    margin-right: 62px;
    font-weight: bold;

}
.collection .collection-two{
    width: 50%;
    flex: 1;
    padding-right: 135px;
}
.collection .collection-two .two-content{
    border-left: 3px solid #000000;
    padding: 124px 0 98px 63px;
    
}
.collection .collection-two .two-content h1{
    font-size: 27.66px;
}


@media screen and (min-width:200px) and (max-width:1024px){
    .collection{
        max-width: 1024px;
        width: 100%;
        background: url('images/collection.jpg');
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: row;
        min-height: 875px;
    }
    .collection .collection-one{
        flex: 1;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding:  20% 0px 5% 5%;
    }
    
    .collection .collection-one .one-content{
        max-width: 100%;
        width: 100%;
        padding-right: 0px;
    
    }
    .collection .collection-one .one-content h1{
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 5%;
        line-height: 150%;
    }
    .collection .collection-one .one-content form{
        width: 100%;
        max-width: 100%;
        min-width: 150px;
        display: flex;
    }
    .collection .collection-one .one-content form .email{
        font-size: 10px;
        min-width: 100px;
        max-width: 200px;
        width: 100%;
        height: 100%;
        padding: 4% 3%;
        border: none;
        color: #000000;
        margin: 0;
    }
    .collection .collection-one .one-content form .sign{
        font-size: 14px;
        background-color: #000000;
        color: #ffffff;
        padding: 3% 0;
        max-width: 100px;
        min-width: 50px;
        width: 100%;
        border: none;
        margin: 0;
        
    }
    .collection .collection-one .one-content h2{
        font-size: 10px;
        margin-top: 14px;
        
    }
    .collection .collection-one .one-content p{
        font-size: 10px;
        margin-right: 5%;
        font-weight: bold;
        margin-top: 2%;
    
    }
    .collection .collection-two{
        width: 50%;
        flex: 1;
        padding-right: 10%;
    }
    .collection .collection-two .two-content{
        border-left: 3px solid #000000;
        padding: 10% 0 10% 12%;
        
    }
    .collection .collection-two .two-content h1{
        font-size: 22px;
    }
    
}
@media screen and (min-width:200px) and (max-width:899px){}